body {margin:0;font-family:"Comic Sans MS";background: #555}
*{
    box-sizing: border-box;
    
}
.main
{
    
    padding: 0 10%;
}
table{
    background: linear-gradient(120deg,#3399FF,lightslategray,lightslategray,lightslategray,lightslategray,#3399FF);
}
table td{
    padding: 10px;
    min-width: 150px;
    
}
b,strong{
    transition: .5s;
    position: relative;
}
a,strong{
    cursor: pointer;
    color:white;
}
b:hover,strong:hover{
    font-size: 18px;
    color: blue;
}
#home:hover{
    background: none;
}
.dropdown-content a b{
    color: red;
}
input[type=text] {
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    
}
button[type=submit] {
    float: left;
    width: 20%;
    padding: 10px;
    background: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
    outline: none;
}
.topnav {
    overflow: hidden;
    background: linear-gradient(120deg,#3399FF,lightslategray,lightslategray,lightslategray,lightslategray,#3399FF);
    padding: 0 10%;
    border-bottom: 2px solid yellow;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
   
}
.active {
    background-color: #555;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 9px 8px gray;
    z-index: 1;
    border-radius: 0px 10px 10px 10px;
    border: 2px solid #555;
    outline: none;
    opacity: 0.9;
    
    
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: linear-gradient(120deg,#3399FF,lightslategray,lightslategray,lightslategray,lightslategray,#3399FF);
}


.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
.topnav #search:hover{
    background-color: inherit;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (min-width: 1039px) {
    .dropdown-content span:before{
        content: attr(data-placeholder);
       position: absolute;
       top:85%;
       left:105%;
       font-size: 10px;
       font-family: 'TaHoma';
       border: none;
       padding: 2px 4px;
       background: #ddd;
       border-radius: 2px;
       text-align: center;
       color: black;
       opacity: 0.9;
       display: none;
   
    }
    strong:hover > span:before{
        display: inline-block;
    }
    b:hover >span:before{
        display: inline-block;
    }
    
}
@media screen and (max-width: 1077px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    
}
@media screen and (min-width: 411px) and (max-width: 629px){
    #search{
        display: none;
    }
    .topnav.responsive #search{
        display: block;
        top:100%;
        left: 0;
    }
    .topnav.responsive a span i.fa-circle{
        display: none;
    }
}
@media screen and (max-width: 390px){
    #search{
        display: none;

    }
    .topnav.responsive #search{
        display: block;
        top:100%;
        left: 0;
    }
    .topnav.responsive a span i.fa-circle{
        display: none;
    }   
}
@media screen and (max-width: 1077px) {
   
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .main, .topnav{
        padding: 5px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

}